<div class="quick-actions">
  <div class="action-item" (click)="onAction('pay')">
    <div class="action-btn highlight">
      <ion-icon name="scan-outline"></ion-icon>
    </div>
    <span>Pagar</span>
  </div>

  <div class="action-item" (click)="onAction('add')">
    <div class="action-btn">
      <ion-icon name="add-outline"></ion-icon>
    </div>
    <span>Tarjetas</span>
  </div>

  <div class="action-item" (click)="onAction('history')">
    <div class="action-btn">
      <ion-icon name="time-outline"></ion-icon>
    </div>
    <span>Historial</span>
  </div>
</div>
